body {
    background-color: lightgray;
    margin: 15px;
    font-family: Calibri;
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    background-color: #96D4D4;
    width: 50px;
    height: 50px;
}

ul {
    list-style-type:none;
}
img {
    width: 50px;
    height: 50px;
}
.TTT {
    width: 100px;
    height: 100px;
}

#text-area {
    position: relative;
    bottom: 5px;
    background-color: lightgray;
    float:right;
    width: 73%;
}

#left-list-area, #TicTacToe {
    position: relative;
    bottom: 5px;
    background-color: rgb(245,245,245);
    float: left;
    width: 25%;
    box-shadow: 0 0 10px 7px darkgray;
    padding: 0 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Experience, #Projects, #Education {
    background-color:  rgb(245, 245, 245);
    margin: 5px;
    box-shadow: 0 0 10px 7px darkgray;
    padding: 5px 10px 10px 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#Education {
    font-size: 125%;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  